* {
    margin-left: 25px;
}

section {
    margin-bottom: 50px;
}

body {
    background-color: rgb(255, 253, 249);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.container_column {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: -25px;
}

.container_row {
    display: grid;
    grid-template-rows: auto auto auto;
    margin-left: -25px;
}

.button_positioning {
    margin-left: 50px;
}
